[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dev = "python main.py"
docker_run = "docker run -v ./config:/iptv-api/config -v ./output:/iptv-api/output -d guovern/iptv-api"
docker_build = "docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7 -t guovern/iptv-api ."

[dev-packages]

[packages]
requests = "==2.33.0"
bs4 = "==0.0.2"
tqdm = "==4.67.1"
async-timeout = "==5.0.1"
aiohttp = "==3.14.1"
opencc-python-reimplemented = "==0.1.7"
m3u8 = "==6.0.0"
pytz = "==2025.1"
ipip-ipdb = "==1.6.1"
urllib3 = "==2.7.0"
psycopg = {version = "==3.2.4", extras = ["binary"]}

[requires]
python_version = "3.13"
